{{ partial "html-header.html" . }}

<body data-spy="scroll" data-target="#navbar" data-offset="72" class="position-relative">
    
    {{ partial "header.html" . }}

    <main>

        {{ partial "landing.html" . }}

        <section id="blog" class="py-4 blog">
            <div class="container-fluid container-fluid-max">

                <div class="row justify-content">
                    <!-- col-md-auto for determining the best text width -->
                    <div class="col-12 col-md-auto py-3">
                        <h2 class="mb-0 text-red">{{ .Title }}</h2>

                        <hr>

                        {{if isset .Params "subtitle" }}
                            <p class="mb-0 text-red font-weight-normal">{{ index .Params "subtitle" }}</p>
                        {{ end }}  
                        <div id="content-text" class="text-justify">
                            {{ .Content }}
                        </div>
                        <div class="text-justify">
                            {{ partial "authorbio.html" . }}
                            Date published: {{ .PublishDate.Format "January 2, 2006" }}
                        </div>
                    </div>
                </div>
                <hr>
                <div class="row justify-content-center">
                </div>

								<!-- Render tags -->
        				<strong>Tags:</strong>
                {{ range $i, $e := .Params.tags -}}
                    {{- if $i -}}, {{ end -}}
                    <a class="effect-underline" href='{{ "/tags/" | relLangURL }}{{ . | urlize }}'>{{ $e | humanize }}</a>
                {{- end -}}
            </div>

        </section>

    </main>


    {{ partial "footer.html" . }}

</body>

</html>
