body {
    text-align: initial;
}

html {
    text-size-adjust: 100%;
    scroll-behavior: smooth;
}


nav {
  color: black !important;
}

/* a.text-red:hover {
    color: #742b99;
} */

#section07 a {
    padding-top: 80px;
  }
  #section07 a span {
    position: absolute;
    top: 0;
    left: 50%;
    width: 24px;
    height: 24px;
    margin-left: -12px;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb07 2s infinite;
    animation: sdb07 2s infinite;
    opacity: 0;
    box-sizing: border-box;
  }
  #section07 a span:nth-of-type(1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
  }
  #section07 a span:nth-of-type(2) {
    top: 16px;
    -webkit-animation-delay: .15s;
    animation-delay: .15s;
  }
  #section07 a span:nth-of-type(3) {
    top: 32px;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
  }
  @-webkit-keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes sdb07 {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }


  .demo a {
    position: absolute;
    bottom: 20px;
    left: 50%;
    z-index: 2;
    display: inline-block;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #fff;
    text-decoration: none;
    transition: opacity .3s;
  }
  .demo a:hover {
    opacity: .5;
  }




.effect-underline{
  color: #944bb6;
  font-size: 16px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}


a.mr-2.effect-underline:hover{
  border-bottom: 0px solid !important;
}

a.mr-2.effect-underline:hover:after {
  opacity: 0 !important;
}

/*effect-underline*/
.effect-underline:after {
  content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1px solid;
  margin-top: 5px;
  opacity: 0;
  color: #944bb6;
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  transform: scale(0,1);
}

.effect-underline:hover:after {
  color: #944bb6;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}


/* @media (max-width: 70em) {
  div.text-white {
    margin-left: 17%;
  }
}
 */
a.mr-2.effect-underline{
  border-bottom: 0px solid;
}



.nav-link {
  text-decoration: none !important;
  color: #fff !important;
}


.nav-link:hover {
  text-decoration: none !important;
  color: #ebb6e4 !important;
  transition-duration: 0.25s;
}

a.mr-2.effect-underline:hover {
  text-decoration: none !important;
  color: #ebb6e4 !important;
  transition-duration: 0.25s;
}

h1 {
  color: var(--rosa);
  font-weight: 900;
}

h2 {
  color: var(--rosa);
  font-weight: 700;
}

h3 {
  color: var(--rosa);
  font-weight: 500;
}

h4 {
  color: var(--rosa);
  font-weight: 300;
}

.page-link {
  color: #944bb6 !important;
}


.page-item.active .page-link {
  background-color: #ebb6e4 !important;
  border-color: #ebb6e4 !important;
}


.page-link:hover {
  z-index: 2;
  text-decoration: none;
  transition: 0.5s;
  background-color: #ebb6e4 !important;
  border-color: #dee2e6;
}


.headlineUnderline{
  font-size: 32px !important;
  margin-bottom: 20px;
}

.link-list-footer > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.link-list-footer > span {
  color: #76767d;
  display: block;
  font-size: .75rem;
  font-weight: 700;
  line-height: 1.125rem;
  text-transform: uppercase;
  margin-bottom: 5px;
}




.custom-toggler.navbar-toggler { 
  border-color: white; 
} 

/* Setting the stroke to white using rgba values (255, 255, 255, 1) */ 

.custom-toggler .navbar-toggler-icon { 
background-image: url( 
  "data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 255, 255, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E"); 
} 

.navbar-light .navbar-toggler {
  color: rgba(0,0,0,.5);
  border-color: rgba(0,0,0,0);
}


.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
}


#home {
  height: 26.5em !important;
  margin-top: 4.5em;
  margin-right: 0em;
  margin-left: 0em;
  /* width: 100%; */
  background-size: cover;
}

/* Override the default, as otherwise it is not rendered correctly. */
blockquote {
  margin: 1.7rem 0;
  padding-left: 0.85rem;
  border-left: 10px solid #F0F2F4;
}

/* Tables */
td, th {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #ebb6e4;
  color: white;
}